.cottagegrid {
    display:grid;
    grid-template-columns: repeat(3, 20%);
    column-gap: 20px;
    row-gap:20px;
    justify-content: center;


}

#mapper {
    font-size:5rem;
}


#mapwrapper {
    background: rgb(122,117,116);
    gap:20px;
    display:flex;
    padding-bottom:100px;
    padding-left:20px;
    padding-top:30px;
}

#map {
    display:flex;
    flex-direction: column;
    flex-basis:65%;
    font-family: 'Work Sans';
    align-items: center;
    gap:20px;
  
}

#googlemaps {
    width:600px;
    height:450px;
}

.tile {
    border:solid aqua;
    height:300px;
    width:300px;
    color:white;
    filter: drop-shadow(10px 10px 6px gray)
  }

#frontdescriptionwrapper {
background: rgb(122,117,116);
background: linear-gradient(180deg, rgba(122,117,116,1) 0%, rgba(125,165,158,1) 14%, rgba(127,214,201,1) 39%,rgba(255,255,255,1) 100%);
padding-bottom:50px;
padding-top:50px;
font-family: 'Work Sans';
padding-bottom:100px;
}


#thelodge{
background-image: url("images/Lodge4.jpg") ;
}
#sunrisesuite{
    background-image:url("images/sunrisesuite.jpg") ;

}
#cottageone{
    background-image: url("images/cottageone.jpg") ;

}
#cottagetwo{
    background-image: url("images/Cottage2.jpg") ;

}
#cottagethree{
    background-image: url("images/Cottage3.jpg") ;

}
#cottagefour{
    background-image: url("images/cottage4.jpg") ;

}
#cottagefive{
    background-image: url("images/cottage5.jpg") ;

}
#cottagesix{
    background-image: url("images/Cottage6.jpg") ;

}
#cottageseven{
    background-image: url("images/Cottage7.jpg") ;

}
#moteleight{
    background-image: url("images/Motel-8.jpg") ;
    background-size:100% 100%;

}
#motelnine{
    background-image: url("images/Motel9.jpg") ;
    background-repeat: no-repeat;
    background-size:100% 100%;
}
#motelten{
    background-image: url("images/motel-units-8-9-10.jpg") ;
    background-size:100% 100%;
    background-repeat:no-repeat;

}

#header {
    height:1000px;
    width:100%;
    background-position: 25% 60%;
    background-image: url('images/sandyshores.jpg');
    font-family: 'Work Sans', sans-serif; 
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    color:white;

}

h1 {
    font-family: 'Righteous', cursive;    
    color:white;
    font-size:9rem;
    margin-top:7%;
    margin:0px;
}

#booknow{
    font-family: 'Work Sans';
    font-weight:900;
    font-size: 40px;
    height:100px;
    width:500px;
    border-radius: 20px;
    border: solid white;
    background:transparent;
    color:white;
    flex-wrap: wrap;

}
#navigation {
    list-style: none;
        display: flex;
    font-size:30px;
gap:50px;
justify-content: space-between;
margin-bottom: 400px;
font-weight: 900;
background: rgba(0, 30, 125, .4);   /*  40% opaque green */ 
opacity:100%;
color:white;
flex-wrap: wrap;
}
ul {
            padding-left:0px;
            margin-top:0px;
}
li{
    display: flex;



}

nav {
    width:100%;
}



    

    #gridwrapper {
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 7%, rgba(163,255,239,1) 35%, rgba(166,255,163,1) 54%, rgba(166,255,163,1) 56%, rgba(255,255,255,1) 91%);
        font-family: 'Work Sans';
    }

    #frontdescription {
        display: flex;
        font-family:'Work Sans' ;
    }

 #words {
    display: flex;
    flex-direction: column;
    margin-left:20px;
 }

 .resort {
    font-weight:900;
    font-size:3rem;
 }
 
 #escanaba {
    font-size:30px;
 }

 .description {
    list-style: none;
 }

 h4{
    margin:0px;
    font-size:1.5rem;
 }

 #our {
    font-size:3rem;
 }

#toppic {
    height:auto;
    margin-top:20px;
}

#facebook {
    width:50px;
    height:50px;
}

#footerwrapper {
display:flex;
justify-content: space-evenly;
font-family:'Work Sans';
padding-top:60px;

}

footer {
   color:black;

}


h5 {
    font-family:'Work Sans';
    margin:0px;
    font-size:35px;
}

#dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  #dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  #dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    opacity:100%;
  }
  
  /* Change color of dropdown links on hover */
  #dropdown-content a:hover {background-color: #ddd;opacity:100%;}
  
  /* Show the dropdown menu on hover */
  #dropdown:hover #dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  #dropdown:hover{background-color: #3e8e41;
    opacity:100%;}


  h2 {
    margin:0px;
  }

  #phone {
    font-size:22px;
  }

  #address {
    font-size:22px;
  }

  a{
   text-decoration:  none;
   color:inherit;
  }

  a:visited {
   color:inherit;
     }


a:active{
    text-decoration: none;
    color:inherit;
}

@media screen and (max-width: 800px) {

    body{
        display:flex;
        flex-direction: column;
        overflow-wrap:break-word;
      word-wrap: break-word;
        max-width:fit-content;
    }
    
      h1 {
        font-size:40px;
            font-family: 'Work Sans';   
            overflow-wrap:break-word;
      word-wrap: break-word; 
    
      }
    h2 {
        font-size:20px;
        overflow-wrap:break-word;
      word-wrap: break-word;
    }
      #booknow {
        height:50px;
        width:100px;
        font-size:15px;
      }
    #gridwrapper {
        display:flex;
        flex-direction: column;
            width:100%;
    }
    
    .cottagegrid {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    #frontdescription {
        margin-top:20px;
        display:flex;
        flex-direction:column;
        overflow-wrap:break-word;
      word-wrap: break-word;

        
    
    }
        #words {
            display: flex;
            flex-direction: column;
            overflow-wrap:break-word;
      word-wrap: break-word;
        }
    
    #navigation {
    flex-direction: column;
    gap:30px;
    
    }
    #footerwrapper {
        display:flex;
        flex-direction: column;
    }
   
    #mapwrapper {
        display:flex;
        flex-direction: column;
        width:fit-content;
    }
    #mapper {
        font-size: 2rem;
        width:fit-content;
    }

    #googlemaps{
        width:fit-content;
    }

    }

#words {
    display: flex;
    font-size:20px;
    justify-content: center;
}

p{
    margin:0px;
}

#price {
margin-left:10px;
margin-right:10px;
font-size:20px;
font-weight:900;
}

